/* GENERAL */
img {
	max-width: 100%;
}
h2, h3 {
	color: #9E171F;
	font-family: 'Pacifico', cursive;
}
footer {
	color: #000;
}
	/* Etoiles Note */
.fa-star-half-alt, .fa-star {
	color: #49b46a;
	font-size: 1.2em;
}
.hide {
	display:none;
}

/* HEADER */
#header {
	display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
	padding: 2em;
	border-bottom: #f9a825 4px solid;
}
#header a {
	color: #32c147;
	font-weight: bold;
	font-size: 2rem;
}
#header a:hover {
	color:#f9a825;
}

#main-nav .active:focus {
	color:#f9a825;
}

#social li:hover {
	border: 1px solid #32c147;
    border-radius: 100%;
	padding: 10px;
	color:#f9a825;
}
#header img {
	height: 10em;
}
#connexion-user {
	display: flex;
    flex-basis: 100%;
	justify-content: flex-end;
	border-bottom: 2px solid gray;
	margin-bottom: 1rem;
	align-items: center;
}
#connexion-user a {
	color: gray;
	margin-right: 2rem;
}
#main-nav, #social {
	align-self: flex-end;
}
#main-nav ul, #social ul {
	display: flex;
}
#main-nav a, #social a {
	padding: 0.5em;
}
#social ul li {
	border: 1px solid #f9a825;
    border-radius: 100%;
	padding: 10px;
	height: 50px;
	width: 50px;
}
#social ul li:nth-child(2) {
	margin:0 1em;
}
#wrapper {
	display: flex;
    flex-direction: column;
    justify-content: inherit;
}
#nameUserConnect {
	padding: 0 10px;
	color: #4a4a4a;
}
/* MAIN */
#main-background {
	background: url("../images/background/background.png") no-repeat center;
	background-size: cover;
	padding: 2em;
}
	/* SLIDER */
	#slider ol {
		margin-bottom: 1em;
	}
	#slider li {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: #9E171F;
	}
	#slider ol li:nth-child(2) {margin: 0 1em;}
	/* BEST-SELLERS */
	#best-sellers, #recipes, #findus {
		background-color: rgba(255,255,255, 0.9);
    	text-align: center;
    	padding: 2em 1em;
    	margin-top: 1.5em;
	}
	#best-sellers h2, #recipes h2, #findus h2 {
    	font-size: 1.8em;
    	border-bottom: 2px solid #49b46a;
    	padding-bottom: 0.7em;
    	width: 90%;
    	margin: 0 auto;
	}
	#best-sellers ul {
		display: flex;
		margin-top: 6em;
	}
	#best-sellers h3 {
		font-size: 1.7em;
		margin-bottom: 0.8em;
	}
	#best-sellers a {
		font-family: 'Pacifico', cursive;
		color: #49b46a;
		font-size: 1.2em;
	}
	#best-sellers .fa-plus-circle {padding-left: 0.7em;}

	/* RECIPES */
	#recipes a, #findus a {display: flex;}
	#recipes h3 {
		font-size: 1.7em;
		padding: 0.8em 0.8em;
	}
	#recipes a p:hover, #findus a p:hover{
		color: #ababab;
	}
	#recipes .fa-plus-circle {
		position: relative;
    	left: 16.5em;
		color: #49b46a;
		font-size: 3em;
	}
	#recipes p, #findus p {line-height: 2.2;}
	.wrap-left {
		display: flex;
    	flex-direction: column;
    	flex: 1;
    	align-self: center;
    	padding-left: 5em;
    	text-align: left;
    	justify-content: flex-start;
	}
	/* FIND US */
	#findus h3 {
    	font-size: 1.7em;
    	margin-top: 3em;
    	text-align: left;
		padding-left: 5em;
	}
	#findus a {flex-wrap: nowrap;}
	#findus p, .wrap {flex: 1;}
	#findus p {
		text-align: left;
    	padding-top: 6em;
	}
	#findus .fa-plus-circle {
		position: relative;
		left: 6.6em;
		top: -2.8em;
		color: #49b46a;
		font-size: 3em;
	}	
/* RECIPES PAGE */
#all-recipes, #about-us {
	background-color: #fff;
	padding: 5em 7em 0 7em;
	display: flex;
    flex-wrap: wrap;
}
	/* RECIPES CARD */
	#recipesCard {
		display: flex;
		flex-direction: column;
		text-align: center;
		flex-basis: 50%;
		padding-bottom: 6em;
	}
	#recipesCard h2 {
    	font-size: 1.7em;
		padding-bottom: 1em;
	}
	#recipesCard p, #recipesCard .fa-plus-circle, #recipesCard  {
		color: #49b46a;
	}

	#recipesCard p {
		padding-top: 1em;
		font-weight: bold;
		font-size: 1.2em;
	}
	#recipesCard img {max-width: 50%;}
	#recipesCard .fa-plus-circle {
		font-size: 3em;
		position: relative;
		left: -0.5em;
		top: 0.6em;
	}
	#recipesCard .fa-star {
		padding-right: 0.3em;
		padding-top: 0.8em;
		font-size: 1.2em;
	}

/* RECIPE PAGE */
#recipeSection {
	background-color: rgba(255,255,255, 0.9);
	padding: 3em 5em;
	display: flex;
    flex-direction: column;
}
#recipeSection h2 {
    font-size: 2em;
    margin-bottom: 1.2em;
    margin-left: 5em;
}
	/* RECIPE ARTICLE */
	#recipeArticle {
		display: flex;
		margin: 0 auto;
	}
	#recipeArticle ul {
		display: flex;
    	flex-direction: column;
		flex: 1;
		justify-content: space-evenly;
	}
	#recipeArticle #description {
		font-size: 1.3em;
		color: #32c147;
	}
	#ingredient img {
		max-width: 50px;
	}
	#ingredient span {
		color: #9E171F;
		font-family: 'Pacifico', cursive;
		font-size: 1.8em;
		margin-left: 1em;
	}
	/* RECIPE PICTURE */
	#recipePicture {
		text-align: center;
	}
	#recipePicture img {
		max-width: 30em;
	}
	li.vote p {
		color:#f9a825;
		font-size: 15px;
	}
	#recipePicture .fa-heart {
		font-size:45px;
		color:#f9a825;
		position: relative;
		right: 4em;
    	top: -0.8em;
	}
	/* FAVORIS */
	#fav {
		text-align: right;
	}
	#addFavorite i, #removeFavorite i {
		color:#f9a825;
		font-size: 25px;
	}
	#addFavorite p, #removeFavorite p {
		color: #32c147;
	}

	
	/* COMMENTAIRES */
	#commName span, form legend {
		font-weight: bold;
	}
	#commentaires {
		background: rgba(255, 255, 255, 0.9);
		padding: 2em;
		margin-top: 2em;
	}
	#commentaires article {
		padding: 10px 0;
	}
	#commentaires #btnOk {
		background: #32c147;
	}
	#commentaires .fa-star {
		font-size: 25px;
	}
	#commentaires .fa-comment-dots, #commentaires .fa-comments {
		color: #32c147;
		font-size: 20px;
	}
	#commentaires #btnCancel {
		background: rgb(226, 60, 71);
	}
	#commentaires #btnCancel, #commentaires #btnOk  {
		color: white;
		padding: 5px 10px;
		cursor: pointer;
		border: none;
	}
	#commentaires form li {
		padding: 10px 0;
	}
	#commentaires #comm {
		padding: 0 5px;
	}
/* USER PAGE */
#new-user {
	background: rgba(255, 255, 255, 0.9);
	padding: 5em 7em;
}
	/* FORMULAIRE */
	#new-user .fa-file-alt, #user-co .fa-sign-in-alt {
		padding-right: 0.7em;
	}
	#new-user form, #user-co form {
		margin-left: 3em;
		width: 30em;
	}
	#new-user h1, #user-co h1 {
		color: #f9a825;
		font-family: 'Pacifico', cursive;
		font-size: 2em;
	}
	#new-user h2, #user-co h2 {
		color: #000;
		text-transform: uppercase;
		font-family: 'Josefin Sans', sans-serif;
		padding-top: 1.5em;
		padding-bottom: 1em;
	}
	#new-user input, #user-co input {
		margin-bottom: 1em;
		padding: 1.5em;
		font-size: 1em;
	}
	#new-user ::placeholder, #user-co ::placeholder {font-size: 1em;}
	#new-user ul li:nth-child(4) {margin-top: 4em;}
	.last {margin-top: 2em;}
	#new-user button, #new-user a, #user-co button, #user-co a {
		border: none;
		font-size: 1em;
	}
	#new-user button, #user-co button {
		background: #32c147;
		margin-right: 1em;
		padding: 0.5em;
	}
	#new-user a, #user-co a {
		background: rgb(226, 60, 71);
		color: #fff;
		padding: 0.5em 1em;
	}
/* CONNEXION */
	/* FORMULAIRE */
	#user-co ul li:nth-child(3) {margin-left: 1em;}
	#user-co ul li:nth-child(3) label {padding-left: 0.5em;}
/* FOOTER */
#footer {
	display: flex;
	flex-wrap: wrap;
	padding: 3em 0;
	border-top: #f9a825 4px solid;
	justify-content: center;
    align-items: center;
}
#infos {
	padding-top: 2rem;
	flex-basis: 100%;
	font-size: 0.7em;
}
#logo {
	padding: 20px;
}
#logo a {
	color: #32c147;
	font-weight: bold;
}
.container img {
	width: 11em;
}
#footer h5 {
	font-size: 0.85em;
    text-transform: uppercase;
}
#first-section {
	display: flex;
	flex-direction: row;
    padding: 0 24px;
}
#first-section li {
	padding: 5px 0;
}
#contact a {
	color: #000;
}
#news {
	flex-basis: 100%;
	text-align: center;
	padding-right: 9rem;
	margin-bottom: 2rem;
}
#contact .fa-envelope, #search .fa-search, #news .fa-newspaper {
	color: #32c147;
	padding: 0 5px;
}
#contact p, #search p, #news p {
	padding: 0 10px 0 0;
}
/* CONCEPT */
#about-us h1 {
	color: #9E171F;
	font-family: 'Pacifico', cursive;
    font-size: 1.8em;
    border-bottom: 2px solid #49b46a;
    padding-bottom: 0.7em;
    width: 90%;
	margin: 0 auto;
	margin-bottom: 1rem;
}
#about-us  {
	color: #49b46a;
	font-weight: bold;
	font-size: 2rem;
}
#hawaii, #smoothie, #smoothie-pink {
	background-size: cover;
	display: flex;
    padding-top: 20em;
}
#hawaii {
	background: url("../images/concept/hawaii-maui-mountain-999089.jpg") no-repeat center;
}
#smoothie {
	background: url("../images/concept/beach-celebrate-cheers-1058433.jpg") no-repeat center;
}
#smoothie-pink {
	background: url("../images/concept/cleanise-decoration-flora-1030909.jpg") no-repeat center;
}
/*
	RESPONSIVE
*/

@media screen and (max-width: 800px) {

	/* Page Recipes */

	#all-recipes {
		display: inherit;
	}

	/* Page User */

	#new-user {
		padding: 5em 3em;
	}

	#new-user form {
		width: 20em;
	}
}