/* GENERAL */
img {
	max-width: 100%;
}
footer {
	color: #000;
    padding: 4em 0;
}
/* HEADER */
#header {
	display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
	padding: 2em;
	border-bottom: #f9a825 4px solid;
}
#header a {
	color: #32c147;
	font-weight: bold;
}
#header a:hover {
	color:#f9a825;
}
#social li:hover {
	border: 1px solid #32c147;
    border-radius: 100%;
    padding: 10px;
}
#header img {
	height: 10em;
}

#main-nav, #social {
	align-self: flex-end;
}
#main-nav ul, #social ul {
	display: flex;
}
#main-nav a, #social a {
	padding: 0.5em;
}
#social ul li {
	border: 1px solid #f9a825;
    border-radius: 100%;
    padding: 10px;
}
#social ul li:nth-child(2) {
	margin:0 1em;
}
#wrapper {
	display: flex;
    flex-direction: column;
    justify-content: inherit;
}
/* MAIN */
#main-background {
	background: url("../images/background/background.png") no-repeat center;
	background-size: cover;
	padding: 2em;
}
	/* SLIDER */
	#slider ol {
		margin-bottom: 1em;
	}
	#slider li {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: #9E171F;
	}
	#slider ol li:nth-child(2) {margin: 0 1em;}
	/* BEST-SELLERS */
	#best-sellers, #recipes {
		background-color: #fff;
    	text-align: center;
    	padding: 2em 1em;
    	margin-top: 1.5em;
	}
	#best-sellers h2, #recipes h2 {
		color: #9E171F;
    	font-size: 1.8em;
    	border-bottom: 2px solid #49b46a;
    	padding-bottom: 0.7em;
    	width: 90%;
    	margin: 0 auto;
	}
	#best-sellers ul {
		display: flex;
		margin-top: 6em;
	}
	#best-sellers h3 {
		color: #9E171F;
		font-size: 1.7em;
		margin-bottom: 0.8em;
		font-family: 'Pacifico', cursive;
	}
	#best-sellers a {
		font-family: 'Pacifico', cursive;
		color: #49b46a;
		font-size: 1.2em;
	}
	#best-sellers .fa-plus-circle {padding-left: 0.7em;}
	/* RECIPES */
	#recipes a {display: flex;}
	#recipes h3 {
		color: #9E171F;
		font-size: 1.7em;
		padding: 0.8em 0.8em;
		font-family: 'Pacifico', cursive;
	}
	#recipes a p:hover{
		color: #ababab;
	}
	#recipes .fa-plus-circle {
		position: relative;
    	left: 16.5em;
		color: #49b46a;
		font-size: 3em;
	}
	.wrap-left {
		display: flex;
    	flex-direction: column;
    	flex: 1;
    	align-self: center;
    	padding-left: 5em;
    	text-align: left;
    	justify-content: flex-start;
	}

	/* Page Recipes */
.recipes {
	display: flex;
	flex-wrap: wrap;
	padding: 2em;
	border-top: #f9a825 4px solid;
}

/* Page Recipe */

#ingredient img {
	width: 50px;
}

#recipeArticle {
	display: flex;
	align-items: center;
	margin-bottom: 30px;	
	background: white;
}

.recipePage h2 {
	flex-basis: 100%;
	background: white;
}

#recipeArticle li {
	padding: 5px;
}

#commName p span {
	font-style: italic;
}


/* FOOTER */
#footer {
	display: flex;
}
#logo {
	flex:1;
}
#infos {
	text-align: center;
	flex-basis: 100%;
	font-size: 0.7em;
}
#logo a {
	color: #32c147;
	font-weight: bold;
}
.container img {
	width: 45%;
}
#footer h5 {
	font-size: 0.85em;
    text-transform: uppercase;
    border-bottom: 1px solid;
    padding-bottom: 0.8em;
}
#search, #contact {
	margin-left:4em;
	flex:1;
}
#search ul {
	margin-top: 2em;
}
#contact ul {
	margin-top: 2em;
}
#contact a {
	color: #000;
}


/*
	RESPONSIVE
*/

@media screen and (max-width: 1080px) {

	/* Page Recipes */

	#recipesCard {
		background: white;
		margin: 10px 10px;
		width: 100%;
	}

}