/* GENERAL */
img {max-width: 100%;}
footer {
	color: #fff;
    background: #000;
    padding: 4em 0;
}
html {
	font-family: 'Open Sans', sans-serif;
}
/* HEADER */
#header {
	display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2em;
}
#header img {
	height: 10em;
}
#main-nav {
	display: flex;
	align-self: center;
}
#main-nav ul {
	display: flex;
}
#main-nav a {
	padding: 0.5em;
}
/* MAIN */
#presentation {
	background: url("../images/passion.jpg") no-repeat #000 center;
	background-size: cover;
	height: 60vh;
	color: #fff;
	text-align: center;
}
#presentation article {
	padding: 2em 0;
}
#presentation h1 {
	font-size: 4em;
	margin: 1.5em 0;
}
#presentation a {
	border: 1px solid #fff;
	padding: 0.8em;
	color: #fff;
}
#best-products {
	display: flex;
	flex-wrap: wrap;
    padding: 10em 0;
}
#best-products article {
	flex: 1;
}
.ml16 {
  color: #402d2d;
  padding: 40px 0;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}
/* FOOTER */
#footer {
	display: flex;
}
#footer h5 {
	font-size: 0.85em;
    text-transform: uppercase;
    border-bottom: 1px solid;
    padding-bottom: 0.8em;
}
#map, #contact, #newsletter {
	flex: 1;
}
#contact {
	margin: 0 1.5em;
}
#contact ul, #newsletter p {

    margin-top: 2em;
}
