/* GENERAL */
img {
	max-width: 100%;
}
footer {
	color: #000;
    padding: 4em 0;
}
html {
	font-family: 'Open Sans', sans-serif;
}
/* HEADER */
#header {
	display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
	padding: 2em;
	border-bottom: #f9a825 4px solid;
}
#header a {
	color: #32c147;
	font-weight: bold;
}
#header a:hover {
	color:#f9a825;
}
#header img {
	height: 10em;
}

#main-nav, #social {
	display: flex;
	flex-direction: column;
	align-self: center;
}
#main-nav ul, #social ul {
	display: flex;
}
#main-nav a, #social a {
	padding: 0.5em;
}
/* MAIN */
#main-background {
	background: url("../images/background.png") no-repeat center;
	background-size: cover;
	padding: 2em;
}
	/* SLIDER */
	#slider ol {
		margin-bottom: 1em;
	}
	#slider li {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: #9E171F;
	}
	#slider ol li:nth-child(2) {margin: 0 1em;}
	/* BEST-SELLERS */
	#best-sellers {
		background-color: #fff;
    	text-align: center;
    	padding: 2em 1em;
    	margin-top: 1.5em;
	}
	#best-sellers h2 {
		color: #9E171F;
    	font-size: 1.5em;
    	border-bottom: 2px solid #49b46a;
    	padding-bottom: 1.2em;
    	width: 80%;
    	margin: 0 auto;
	}
	#best-sellers ul {
		display: flex;
		margin-top: 6em;
	}
	#best-sellers h3 {
		color: #9E171F;
		font-size: 1.7em;
		margin-bottom: 0.8em;
		font-family: 'Homemade Apple', cursive;
		font-weight: bold;
	}
	#best-sellers a {
		font-family: 'Homemade Apple', cursive;
		color: #49b46a;
		font-weight: bold;
	}
	#best-sellers .fa-plus-circle {padding-left: 0.7em;}
/* FOOTER */
#footer {
	display: flex;
	border-top: #f9a825 4px solid;
	padding: 2em;
}
#footer h5 {
	font-size: 0.85em;
    text-transform: uppercase;
    border-bottom: 1px solid;
    padding-bottom: 0.8em;
}
#map, #contact, #newsletter {
	flex: 1;
}
#contact {
	margin: 0 1.5em;
}
#contact ul, #newsletter p {

    margin-top: 2em;
}
