/* GENERAL */
img {
	max-width: 100%;
}
footer {
	color: #000;
    padding: 4em 0;
}
html {
	font-family: 'Open Sans', sans-serif;
}
/* HEADER */
#header {
	display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
	padding: 2em;
	border-bottom: #f9a825 4px solid;
}
#header a {
	color: #32c147;
	font-weight: bold;
}
#header a:hover {
	color:#f9a825;
}
#social li:hover {
	border: 1px solid #32c147;
    border-radius: 100%;
    padding: 10px;
}
#header img {
	height: 10em;
}

#main-nav, #social {
	align-self: flex-end;
}
#main-nav ul, #social ul {
	display: flex;
}
#main-nav a, #social a {
	padding: 0.5em;
}
#social ul li {
	border: 1px solid #f9a825;
    border-radius: 100%;
    padding: 10px;
}
#social ul li:nth-child(2) {
	margin:0 1em;
}
#wrapper {
	display: flex;
    flex-direction: column;
    justify-content: inherit;
}
/* MAIN */
#main-background {
	background: url("../images/background.png") no-repeat center;
	background-size: cover;
}
/* FOOTER */

#footer {
	display: flex;
	flex-wrap: wrap;
	padding: 2em;
	border-top: #f9a825 4px solid;
}
#first-section {
	display: flex;
}
#logo {
	flex:1;
}
#infos {
	text-align: center;
	flex-basis: 100%;
	font-size: 0.7em;
}
#logo a {
	color: #32c147;
	font-weight: bold;
}
.container img {
	width: 45%;
}
#footer h5 {
	font-size: 0.85em;
    text-transform: uppercase;
    border-bottom: 1px solid;
    padding-bottom: 0.8em;
}
#search, #contact {
	margin-left:4em;
	flex:1;
}
#search ul {
	margin-top: 2em;
}
#contact ul {
	margin-top: 2em;
}
#contact a {
	color: #000;
}
