/* GENERAL */
img {max-width: 100%;}
footer {
	color: #fff;
    background: #000;
    padding: 4em 0;
}
html {
	font-family: 'Open Sans', sans-serif;
}
/* HEADER */
#header {
	display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2em;
}
#header img {
	height: 10em;
}
#main-nav {
	display: flex;
	align-self: center;
}
#main-nav ul {
	display: flex;
}
#main-nav a {
	padding: 0.5em;
}
/* MAIN */
#main-background {
	background: url("../images/background.png") no-repeat center;
	background-size: cover;
}
/* FOOTER */
#footer {
	display: flex;
}
#footer h5 {
	font-size: 0.85em;
    text-transform: uppercase;
    border-bottom: 1px solid;
    padding-bottom: 0.8em;
}
#map, #contact, #newsletter {
	flex: 1;
}
#contact {
	margin: 0 1.5em;
}
#contact ul, #newsletter p {

    margin-top: 2em;
}
