/* GENERAL */
img {
	max-width: 100%;
}
footer {
	color: #000;
    padding: 4em 0;
}
html {
	font-family: 'Open Sans', sans-serif;
}
/* HEADER */
#header {
	display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
	padding: 2em;
	border-bottom: #f9a825 4px solid;
}
#header a {
	color: #32c147;
	font-weight: bold;
}
#header a:hover {
	color:#f9a825;
}
#header img {
	height: 10em;
}

#main-nav, #social {
	display: flex;
	flex-direction: column;
	align-self: center;
}
#main-nav ul, #social ul {
	display: flex;
}
#main-nav a, #social a {
	padding: 0.5em;
}
/* MAIN */
#main-background {
	background: url("../images/background.png") no-repeat center;
	background-size: cover;
}
/* FOOTER */
#footer {
	display: flex;
	border-top: #f9a825 4px solid;
	padding: 2em;
}
#footer h5 {
	font-size: 0.85em;
    text-transform: uppercase;
    border-bottom: 1px solid;
    padding-bottom: 0.8em;
}
#map, #contact, #newsletter {
	flex: 1;
}
#contact {
	margin: 0 1.5em;
}
#contact ul, #newsletter p {

    margin-top: 2em;
}
